NEXTAUTH_SECRET = "NEXT AUTH SECRET"

GOOGLE_CLIENT_ID = "GOOGLE CLIENT ID"
GOOGLE_CLIENT_SECRET = "GOOGLE SECRET"

DATABASE_URL="YOUR DATABASE URL"
BASE_API = "http://localhost:3000/api/"
MAPBOX_API_KEY = 'YOUR MAPBOX KEY'